<a href="https://colab.research.google.com/github/JHPark767/Class2022Spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 음성학응용0307

영어음성학 응용 2022년도 1학기 keywords:

python, colab, github, data processing(text, sound, image), hugging face, gradio

python - 코딩 도구

colab - 코딩 환경. (클라우드 코딩)

github - 코드 및 작업물 공유환경.

data processing - 학기동안 수업 중에 할 것. 누군가가 만들어 놓은 ai 모델(함수)을 통해 데이터를 처리할 것. 입력을 출력으로 바꾸는 과정.
hugging face - ai 모델들을 모아놓은 곳.

gradio - web programming 과정을 단축해서 ai모델들을 구현해주는 것. 

=> colab 환경을 python 언어로 코딩한 것을 github에 공유한다. 

그 내용은 hugging face 에서 가져온 ai 모델을 통해 데이터를 (글자, 소리, 이미지) 입력하고 출력하는 과정을 gradio로 구현한 것.

예를 들어, hugging face에 gpt2를 이용해서, input text를 주었을때 문장을 완성해주는 ai 모델이 있다고 했을때,

**colab의 환경에서 gradio를 이용해 hugging face의 ai 모델로 일부 텍스트를 입력했을때, 자동으로 문장을 완성해주는 간단한 앱 또는 사이트를 만드는 것이 가능하다.**

-> 이번학기 수업에서 할 것.

Coding에 대하여...

: 주로 Python 사용. 다른 컴퓨터 언어들이 있고 이를 이용한 코딩도 다양하지만 주로 공통점은

변수 - 숫자, 문자를 코드안에 부여함. (variables)

문법 - 조건을 부여함. (syntax)

함수 - 여러 변수, 문법을 입력과 출력으로 묶어놓은것. (function)


# 음성학응용0309

코딩-

1.변수

2.문법(조건,반복)

3.함수

4.패키지(라이브러리) - 어떤 목적을 갖고 함수 등을 모아놓은 것. 패키지는 import해서 써야한다.

파이썬 변수에 대해.

파이썬 = Programming Language. 

언어에 단어가 핵심이라면 단어는 의미(meaning), 내용(content)을 가지고 있다.

Programming Language에서 이 단어(word)에 해당하는 것이 변수(variables).

[var=3]이라고 변수를 주면 이것이 곧 내용(content)이 됨.

이 word (variables)를 조합하는 것이 문법(syntax) -> 조건문과 반복문으로 주로 조합.

변수는 숫자, 문자가 있다.
그 중 숫자는 정수와 소수로 나눈다.

In [9]:
a = 1
b = 2
c = 3

라고 3개의 변수를 줬을때, 변수 a,b,c는 각각 1,2,3의 정수값을 가지고, 이러한 정수를 int라는 변수의 종류로 표시한다. 변수의 유형은 좌측의 {x} 버튼으로 확인.

In [10]:
print(a)

1

print(변수)는 변수의 내용을 나타낸다. 변수가 word라면 print를 통해 그 내용(content)를 나타냄.

In [11]:
print(type(a)
)

<class 'int'>

혹은 print(type(변수))로 변수의 유형이 무엇인지 나타내게 할수있다.

소수 역시 위와 같은 과정으로 사용할 수 있으며, 유형은 int 대신 float로 표시한다.

문자로 이루어진 변수는 string (str)이라고 한다. 문자를 변수로 주는 방법으로 quote ('')를 이용한다.

In [12]:
d = '123'; print(d); print(type(d))

123
<class 'str'>

위는 d라는 변수에 '123'이라는 string을 quote로 주고, 변수 d의 내용과 type을 출력한 것이다. string에는 글자의 크기 (글자수)가 나타난다.

In [13]:
e = 'hi';print(e);print(type(e))

hi
<class 'str'>

숫자로 이루어진 string이 아닌 글자로 써도 마찬가지.

변수의 종류 중 list는 변수에 숫자, 문자 등 다양한 종류 여러개를 대괄호 안에 넣어놓은 것. list 안에 list도 가능

In [14]:
f = [1,'a',['boy','girl']];print(f);print(type(f))

[1, 'a', ['boy', 'girl']]
<class 'list'>

list는 indexing이 가능하다. print(변수[index])로 표현.

이것으로 list 중 내가 원하는 부분만 골라낼 수 있음. 

그 index는 첫번째것을 0으로하고, :표시는 전부 다를 의미한다. 0~2번째 변수 중 뒤의 두개만 가져오고 싶을때는 1:3-> 마지막꺼는 포함안함.처음부터 할때는 :3 으로만 표시.

index는 음수도 쓰일 수 있음. 시작이 0번째, 마지막이 -1.

또 변수 f처럼 list 안에 list를 포함하고 있을때, 작은 list의 부분을 표시할 때는 [작은 list가 있는 위치][작은 list 안에서 표시하고자 하는 부분의 위치]로 표현한다.

밑은 예시.

In [15]:
print(f[:]);print(f[2][0]);print(f[1:3])

[1, 'a', ['boy', 'girl']]
boy
['a', ['boy', 'girl']]

변수가 list가 아닌 string일때도 index는 동일하게 적용된다.

list라는 변수는 대괄호가 아닌 그냥 괄호()를 쓰면 tuple 이 되는데 괄호말고는 identical. 다만 tuple은 item assignment가 안됨.

int,float,string,tuple,list 이외의 마지막 변수는 dict이다.

dictionary의 준말. 중괄호 안에 'key':'value' 의 형태로 묶여있고, key 가 별도의 index 역할을 한다. key가 변수와 혼동되지 않게 ''으로 string처럼 만들어준다.

다만 key는 문자와 숫자 모두 다됨.

In [16]:
g = {'a':'apple','b':'banana','c':'2022'}; print(type(g)); print(g['b'])

<class 'dict'>
banana

# 음성학응용 0314

In [17]:
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])
print(s[1:3], s[1:], s[:3], s[:])

a f f a
bc bcdef abc abcdef

지난 시간 했던 index 복습.

첫번째는 0. 마지막은 -1. :의 오른쪽은 포함. 

왼쪽에 아무것도 없으면 처음부터 

오른쪽에 아무것도 없으면 끝까지 

양쪽에 아무것도 없으면 전부다

In [18]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

string과 list 는 index가 동일하다.

In [19]:
len(s)

6

len함수는 변수의 길이를 출력한다.

In [20]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

string에도 +를 쓸수있다.

s[4:]는 s의 5번째글자부터끝까지를 의미. ='ef'

*10은 s[4:]를 10번 반복시킨다. ='ef'를 10번붙임

In [21]:
s.upper()

'ABCDEF'

python에서 함수를 쓸때는 함수(입력) 의 형태로 쓴다.

입력이 없으면 ()만 쓴다. -> python에서 괄호가 있다면 그 앞은 함수 일것.

s.upper()는 s를 쓰는데 upper()함수를 통해 대문자로 출력한것.

In [22]:
s = ' this is a house built this year.\n' 	
s

' this is a house built this year.\n'

s를 다른 string으로 바꿨다.

셀의 마지막줄에 있을때는 print 안적어도 됨.

In [23]:
result = s.find('house') 	    
result

11

s.find('house') = s에서 'house'를 찾아라.

그 찾은 값을 result에 넣어라. 라는 의미. (=print(result))

11은 'house'가 있는 위치가 11번째라는 뜻.

In [25]:
result = s.find('this')	     
result

0

s 안에 this가 두번 나오지만 위 함수로 찾은 위치는 this가 첫번째로 나오는 위치이다.

In [24]:
s = s.strip()      	          # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

제일 처음이나 마지막의 whitespace를 지움. -> 처음의 공백과 마지막의 /n 문장부호

필요없는 부분을 지워서 보여주는 함수.

In [26]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

split은 괄호안의 index (예시에서는 빈칸) 기준으로 쪼개서 list로 만드는 함수.

예시는 즉, s를 빈칸을 기준으로 쪼개서 (공백은 포함x) list로 만드는것

In [27]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

split의 역. tokens를 빈칸을 이용해서 join하라는 함수.

원 문장으로 돌린다.

In [28]:
s = s.replace('this', 'that') # replace instances of t with u inside s
s

'that is a house built that year.'

'this'를 'that'으로 대체하는 함수.

--------------------------------------------------------------------------------

function.

In [30]:
def add(a,b):
  return a+b

def add(a,b): 
  c = a + b
  return c

def subtract(a,b):
  return a-b

def multiply(a,b):
  return a*b

def divide(a,b):
  return a/b

함수를 만들때는 def 함수이름(입력변수-여러개면 comma로 연결): 콜론은 필수

출력은 return 출력변수-여러개면 comma로 연결 로 표시.

예시는 사칙 연산 함수를 만들어 return에 그 내용을 정해줬음. 이름 바꿔도 상관없음. 내용도 다른 변수를 끼어와서 써도 상관없음.

다만 함수를 쓸려면, 함수를 그 전에 미리 정의해놓고 그 셀을 실행시켜야 함.

In [31]:
c = add(1,2); print(c)
c = subtract(1,2); print(c)
c = multiply(1,2); print(c)
c = divide(1,2); print(c)

3
-1
2
0.5

위에 정의한 함수를 바탕으로 수를 입력해주고 출력을 받은 모습.